/* Start TOP Bar Styles */
.top-bar{
    color: var(--dark-color);
    padding: 20px 0;
    background-color: #f0f2f7;

 }

 .top-bar__content{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
 }
 .top-bar__right{
    display: flex;
 }

 .top-bar__menu{
    display: flex;
 }
 .top-bar__link{
    color: var(--dark-color);
    transition: all .4 ease;
    font-size: 1.5rem;
    padding: 0 10px;
 }

 .top-bar__left{
    display: flex;
 }

 .top-bar__phone,
 .top-bar__email{
    display: flex;
    align-items: center;
 }
 .top-bar__phone--text, 
 .top-bar__email--text{
    padding: 0 8px;
 } 

 .top-bar__phone-icon,
 .top-bar__email-icon{
    color: var(--primary-color);
    font-size: 1.6rem;
 }

 
 /* Finish TOP Bar Styles */


/* start navbar styles */


/* Start Header Right */
.main-header__right{
   display: flex;
   gap: 16px;
}
.main-header__menu{
   display: flex;
   gap: 24px;
}
.main-header__item{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   color: #7f8187;
}
.main-header__link{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
}
.main-header__link:hover{
   color: var(--primary-color);
}
.main-header__chevron{
   font-size: 1rem;
   
}

/* start sub-menu styles */
.main-header__sub-menu{
   position: absolute;
   top: 55px;
   left: 0;
   right: 0;
   background-color: var(--white-color);
   transition: all .3s ease-in;
   box-shadow: 0 0 10px 0 rgb(0,0,0, 0.12);
   border-radius: 5px;
   width: 240px;
   z-index: 1;
   padding: 10px 0;
   border-bottom: 3px solid var(--primary-color) ;
   opacity: 0;
   visibility: hidden;
}
.main-header__item:hover .main-header__sub-menu{
   opacity: 1;
   visibility: visible;
   top: 65px;
}
.main-header__sub-link{
   display: block;
   padding: 8px;
   font-size: 1.4rem;
   color: var(--dark-color);
   transition: all .4s ease;
}
/* Finish sub-menu styles */


/* Finish Header Right */


/* start header left */
.main-header__content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 15px;
}
.main-header__left{
   display: flex;
   align-items: center;
 
   
}
.main-header__search-btn{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 43px;
   height: 43px;
   border-radius: 5px;
   background-color: var(--primary-color);
}
.main-header__search-icon{
   color: var(--white-color);
   font-size: 2.2rem;
   
}

.main-header__cart-btn{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 43px;
   height:  43px;
   border-radius: 5px;
   margin-right: 10px;
   background-color: #f0f2f7;
   transition: all .3s ease-in;
   position: relative;

}
.main-header__cart-icon{
   font-size: 3rem;
}
.main-header__cart-badge{
   position: absolute;
   top: -5px;
   right: 0px;
   background-color: #1e87f0;
   color: #f0f2f7;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.main-header__profile{
   display: flex;
   align-items: center;
   padding: 15px;
   border: 2px solid var(--primary-color);
   border-radius: 10px;
   margin-right: 10px;
   color: var(--primary-color);
   transition: all .3s ease-in;

}
.main-header__profile:hover{
   background-color: var(--primary-color);
   color: var(--white-color);
}
/* Finish header left */
/* Finish navbar Styles */