/* Start TOP Bar Styles */
.top-bar{
    color: var(--dark-color);
    padding: 20px 0;
    background-color: #f0f2f7;

 }

 .top-bar__content{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
 }
 .top-bar__right{
    display: flex;
 }

 .top-bar__menu{
    display: flex;
 }
 .top-bar__link{
    color: var(--dark-color);
    transition: all .4 ease;
    font-size: 1.5rem;
    padding: 0 10px;
 }

 .top-bar__left{
    display: flex;
 }

 .top-bar__phone,
 .top-bar__email{
    display: flex;
    align-items: center;
 }
 .top-bar__phone--text, 
 .top-bar__email--text{
    padding: 0 8px;
 } 

 .top-bar__phone-icon,
 .top-bar__email-icon{
    color: var(--primary-color);
    font-size: 1.6rem;
 }

 
 /* Finish TOP Bar Styles */


/* start navbar styles */


/* Start Header Right */
.main-header__right{
   display: flex;
   gap: 16px;
}
.main-header__menu{
   display: flex;
   gap: 24px;
}
.main-header__item{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   color: #7f8187;
}
.main-header__link{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
}
.main-header__link:hover{
   color: var(--primary-color);
}
.main-header__chevron{
   font-size: 1rem;
   
}

/* start sub-menu styles */
.main-header__sub-menu{
   position: absolute;
   top: 55px;
   left: 0;
   right: 0;
   background-color: var(--white-color);
   transition: all .3s ease-in;
   box-shadow: 0 0 10px 0 rgb(0,0,0, 0.12);
   border-radius: 5px;
   width: 240px;
   z-index: 1;
   padding: 10px 0;
   border-bottom: 3px solid var(--primary-color) ;
   opacity: 0;
   visibility: hidden;
}
.main-header__item:hover .main-header__sub-menu{
   opacity: 1;
   visibility: visible;
   top: 65px;
}
.main-header__sub-link{
   display: block;
   padding: 8px;
   font-size: 1.4rem;
   color: var(--dark-color);
   transition: all .4s ease;
}
/* Finish sub-menu styles */
/* Finish Header Right */


/* start header left */
.main-header__content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 15px;
}
.main-header__left{
   display: flex;
   align-items: center;
 
   
}
.main-header__search-btn{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 43px;
   height: 43px;
   border-radius: 5px;
   background-color: var(--primary-color);
}
.main-header__search-icon{
   color: var(--white-color);
   font-size: 2.2rem;
   
}

.main-header__cart-btn{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 43px;
   height:  43px;
   border-radius: 5px;
   margin-right: 10px;
   background-color: #f0f2f7;
   transition: all .3s ease-in;
   position: relative;

}
.main-header__cart-icon{
   font-size: 3rem;
}
.main-header__cart-badge{
   position: absolute;
   top: -5px;
   right: 0px;
   background-color: #1e87f0;
   color: #f0f2f7;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.main-header__profile{
   display: flex;
   align-items: center;
   padding: 15px;
   border: 2px solid var(--primary-color);
   border-radius: 10px;
   margin-right: 10px;
   color: var(--primary-color);
   transition: all .3s ease-in;

}
.main-header__profile:hover{
   background-color: var(--primary-color);
   color: var(--white-color);
}
/* Finish header left */
/* Finish navbar Styles */


/* Start landing section */

.container{
   display: flex;
   justify-content: space-between;
   padding: 0 16px;
   background: linear-gradient(135deg,rgb(143, 183, 230) 0%,rgb(255, 255, 255) 0%,rgba(138, 166, 221, 0.418) 100%);;;
   gap: 20px;
   padding-top: 5%;
}

.landing-cover{
   flex: 2;
   order: 1;
   
}
.landing-content{
   flex: 2;
}
.landing__image{
   width: 600px;
}
.landing-content{
   display: flex;
   flex-direction: column;
   padding: 0 60px;
   gap: 20px;
   
}
.landing-content-lable{
   display: flex;
   align-items: center;
   background-color:var(--white-color);
   width:fit-content;
   padding: 10px;
   border: 1px solid transparent;
   font-size: 1.8rem;
   border-radius: 50px;
   color: rgba(39, 39, 39, 0.705);
   
}
.landing-content-lable:hover{
   border:1px solid var(--primary-color) ;
   color: rgba(39, 39, 39, 0.705);
}
.landing-content-lable span{
   color: var(--primary-color);
}

.landing-content-lable-icon{
   color: var(--primary-color);
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 1px solid var(--primary-color);
   display: flex;
   align-items: center;
   justify-content: center; 
   margin-left: 10px;
    
}
.landing-content-title{
   font-size: 6rem;
   width: 70%;
   color: rgb(39, 39, 39);
   font-weight: 700;
}
.landing-content-subtitle{
   font-size: 2.5rem;
   margin-top: 20px;
   color: rgb(58, 58, 58);
   width: 75%;
   line-height: 1.5;
}

.landing__content-btn{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 55%;
   margin-top: 20px;
}
.landing__content-btn-start{
   background-color: #1e87f0;
   color: var(--white-color);
   padding: 20px 30px;
   border-radius: 50px;
   font-size: 1.8rem;
   transition: .2s ease;
}
.landing__content-btn-start:hover{
   color: var(--white-color);
   background-color: #025ab3;
}

.landing__content-btn-link{
   color: var(--white-color);
   padding: 20px 30px;
   border-radius: 50px;
   font-size: 1.8rem;
   transition: .3s ease;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
}
.landing__content-btn-link:hover{
   color: var(--white-color);
   background-color:var(--primary-color);
}




/* Finish landing section */