/* Start TOP Bar Styles */
.top-bar{
    color: var(--dark-color);
    padding: 20px 0;
    background-color: #f0f2f7;

 }

 .top-bar__content{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
 }
 .top-bar__right{
    display: flex;
 }

 .top-bar__menu{
    display: flex;
 }
 .top-bar__link{
    color: var(--dark-color);
    transition: all .4 ease;
    font-size: 1.5rem;
    padding: 0 10px;
 }

 .top-bar__left{
    display: flex;
 }

 .top-bar__phone,
 .top-bar__email{
    display: flex;
    align-items: center;
 }
 .top-bar__phone--text, 
 .top-bar__email--text{
    padding: 0 8px;
 } 

 .top-bar__phone-icon,
 .top-bar__email-icon{
    color: var(--primary-color);
    font-size: 1.6rem;
 }

 /* Finish TOP Bar Styles */


/* start navbar styles */


/* Start Header Right */
.main-header__right{
   display: flex;
   gap: 16px;
}
.main-header__menu{
   display: flex;
   gap: 24px;
}
.main-header__item{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   color: #7f8187;
}
.main-header__link{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
}
.main-header__link:hover{
   color: var(--primary-color);
}
.main-header__chevron{
   font-size: 1rem;
   
}

/* start sub-menu styles */
.main-header__sub-menu{
   position: absolute;
   top: 55px;
   left: 0;
   right: 0;
   background-color: var(--white-color);
   transition: all .3s ease-in;
   box-shadow: 0 0 10px 0 rgb(0,0,0, 0.12);
   border-radius: 5px;
   width: 240px;
   z-index: 1;
   padding: 10px 0;
   border-bottom: 3px solid var(--primary-color) ;
   opacity: 0;
   visibility: hidden;
}
.main-header__item:hover .main-header__sub-menu{
   opacity: 1;
   visibility: visible;
   top: 65px;
}
.main-header__sub-link{
   display: block;
   padding: 8px;
   font-size: 1.4rem;
   color: var(--dark-color);
   transition: all .4s ease;
}
/* Finish sub-menu styles */
/* Finish Header Right */


/* start header left */
.main-header__content{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 15px;
}
.main-header__left{
   display: flex;
   align-items: center;
 
   
}
.main-header__search-btn{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 43px;
   height: 43px;
   border-radius: 5px;
   background-color: var(--primary-color);
}
.main-header__search-icon{
   color: var(--white-color);
   font-size: 2.2rem;
   
}

.main-header__cart-btn{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 43px;
   height:  43px;
   border-radius: 5px;
   margin-right: 10px;
   background-color: #f0f2f7;
   transition: all .3s ease-in;
   position: relative;

}
.main-header__cart-icon{
   font-size: 3rem;
}
.main-header__cart-badge{
   position: absolute;
   top: -5px;
   right: 0px;
   background-color: #1e87f0;
   color: #f0f2f7;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.main-header__profile{
   display: flex;
   align-items: center;
   padding: 15px;
   border: 2px solid var(--primary-color);
   border-radius: 10px;
   margin-right: 10px;
   color: var(--primary-color);
   transition: all .3s ease-in;

}
.main-header__profile:hover{
   background-color: var(--primary-color);
   color: var(--white-color);
}
/* Finish header left */
/* Finish navbar Styles */


/* Start landing section */
.landing-section{
   background: linear-gradient(135deg,rgb(143, 183, 230) 0%,rgb(255, 255, 255) 0%,rgba(138, 166, 221, 0.418) 100%);
   
}

.landing-section .container{
   display: flex;
   justify-content: space-between;
   gap: 20px;
   padding-top: 5%;
}

.landing-cover{
   flex: 2;
   order: 1;
   
}
.landing-content{
   flex: 2;
}
.landing__image{
   width: 600px;
}
.landing-content{
   display: flex;
   flex-direction: column;
   /* padding: 0 60px; */
   gap: 20px;
   
}
.landing-content-lable{
   display: flex;
   align-items: center;
   background-color:var(--white-color);
   width:fit-content;
   padding: 10px;
   border: 1px solid transparent;
   font-size: 1.8rem;
   border-radius: 50px;
   color: rgba(39, 39, 39, 0.705);
   
}
.landing-content-lable:hover{
   border:1px solid var(--primary-color) ;
   color: rgba(39, 39, 39, 0.705);
}
.landing-content-lable span{
   color: var(--primary-color);
}

.landing-content-lable-icon{
   color: var(--primary-color);
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 1px solid var(--primary-color);
   display: flex;
   align-items: center;
   justify-content: center; 
   margin-left: 10px;
    
}
.landing-content-title{
   font-size: 7rem;
   width: 90%;
   color: rgb(39, 39, 39);
   font-weight: 700;
}
.landing-content-subtitle{
   font-size: 2.5rem;
   margin-top: 20px;
   color: rgb(58, 58, 58);
   width: 75%;
   line-height: 1.5;
}

.landing__content-btn{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 55%;
   margin-top: 20px;
}
.landing__content-btn-start{
   background-color: #1e87f0;
   color: var(--white-color);
   padding: 20px 30px;
   border-radius: 50px;
   font-size: 1.8rem;
   transition: .2s ease;
}
.landing__content-btn-start:hover{
   color: var(--white-color);
   background-color: #025ab3;
}

.landing__content-btn-link{
   color: var(--white-color);
   padding: 20px 30px;
   border-radius: 50px;
   font-size: 1.8rem;
   transition: .3s ease;
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
}
.landing__content-btn-link:hover{
   color: var(--white-color);
   background-color:var(--primary-color);
}
/* Finish landing section */


/* <!-- Start Lastest Course --> */
.courses{
   margin: 40px;
   padding: 100px 0 ;
  
}
.courses .container{
   display: flex;
   flex-direction: column;
}

.courses-header{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.courses-header__title{
   font-size: 3.5rem;
   color: rgba(39, 39, 39, 0.829);
}
.courses-header__text{
   font-size: 2rem;
   color: rgba(39, 39, 39, 0.685);
   font-weight: 600;
   margin-top: 10px;
}
.courses-header__view-all{
   font-size: 2rem;
   display: flex;
   border: none;
   align-items: center;
   color: rgba(39, 39, 39, 0.685);
   transition: all .4s ease;
   background-color: transparent;
   padding: 4px 10px;
   border-radius: 10px;
}
.courses-header__view-all:hover{
   background-color: #1e87f00e;
   padding: 4px 10px;
   border-radius: 10px;
}

.courses .container{
   padding: 0;
}

.course-box{
   background-color: var(--white-color);
   box-shadow: 0 0 19px 0 rgb(168,172,185, 0.12);
   border-radius: 10px;
   margin: 20px 0;
   transition: all .4s ease;
   overflow: hidden;
   transform: translateY(0);
}
.course-box__image{
   width: 100%;
}

.course-box:hover{
   transform: translateY(-10px);
}
.course-box__main{
   padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.course-box__title{
   font-weight: 600;
}
.course-box__raiting-teacher{
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.course-box__teacher{
   display: flex;
   align-items: center;
   justify-content: center;
}
.course-box__teacher-icon{
   font-size: 18px;
   margin-left: 5px;
}
.course-box__teacher-link{
   font-weight: 600;
   font-size: 12px;
}
.course-box__status{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.course-box__users{
   display: flex;
   align-items: center;
   justify-content: center;
}
.course-box__users-text{
   font-size:12px ;
   font-weight: 600;

}
.course-box__users-icon{
   font-size: 20px;
   margin-left: 5px;
}
.course-box__price{
   font-weight: 600;
   color: #9c9c9c;
}
.course-box__footer{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 20px;
}
.course-box__footer-link{
   color: var(--primary-color);
   display: flex;
   align-items: center;
   justify-content: center;

}
.course-box__footer-link:hover{
   color: var(--primary-color);

}

/* <!-- Finish Lastest Course --> */


/* about us start */
.about-us{
   margin-top: 20px;
}
.about-us__box{
   display: flex;
   gap: 10px;
   justify-content: space-between;
   flex-wrap: wrap;
}
.about-us__header-title{
   font-size: 3.5rem;
   font-weight: 500;
   color: rgba(39, 39, 39, 0.829);
}
.about-us__header-text{
   font-size: 2rem;
   color: rgba(39, 39, 39, 0.685);
   font-weight: 600;
   margin-top: 20px;
}
.row-one{
   display: flex;
   margin: 10px 0; 
   background-color: var(--white-color);
   border-radius: 10px;
   padding: 10px
   
}
.about-us__box-right{
   display: flex;
   flex-direction: column;
   flex: 1;
   align-items: center;
}
.about-us__box-left{
   display: flex;
   flex-direction: column;
   flex: 1;
   align-items: center;
  
}
.about-us__box__icon{
   display: flex;
   align-items: center;
   justify-content: center;
}
.about-us__box__content{
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.about-us__box__icon{
   font-size: 10rem;
}
.about-us__box__content-title{
   font-size: 2rem;
   font-weight: 600;
}
.about-us__box__content-text{
   font-size: 1.8rem;
   color: rgba(39, 39, 39, 0.685);
}
/* about us finish */

/* start popular courses */
.popular-courses{
   margin-top: 20px;
}
.popular-courses-header__title{
   font-size: 3.5rem;
   color: rgba(39, 39, 39, 0.829);
}

.swiper-slide .course-box{
   margin: 0 13px;
   box-shadow: 0 0 10px rgba(168, 172, 185, alpha);
 }
.swiper-slide .course-box:hover{
   transform: translateY(0);
 }

   

/* finish popular courses */